@font-face {
	font-family: 'oswalddemibold';
	font-weight: normal;
	font-style: normal;
  src: local('Oswald DemiBold'), local('Oswald-DemiBold'), url(../../../images/io-theme/font/oswald-demibold-webfont.woff2) format('woff2'), url(../../../io-theme/font/oswald-demibold-webfont.woff) format('woff');
}

#istatistikler {
	background: #E2E2E2 url(../../../images/io-theme/boardstats_bg.png) top left repeat-x;
	width: 99%;
	color: #9D9D9D;
	border: 1px solid #b7b7b7;
	min-height: 100px;
	margin: auto;
	padding: 10px;
	padding-top: 30px;
	font-weight: bold;
	overflow: hidden;
	box-sizing: border-box;
}

#kimler_cevrimici {
	background:white;
	padding: 5px;
	margin-left: 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#kimler_cevrimici a:link,
#kimler_cevrimici a:visited {
	color: #9D9D9D;
}
#forum_istatistikleri {
	background:white;
	padding:5px;
	margin-left: 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#forum_istatistikleri a:link,
#forum_istatistikleri a:visited {
	color: #9d9d9d;
}

#forum_istatistikleri_icerik {
	background: #fff url(../../../images/io-theme/stat_icon.png) bottom right no-repeat;
	width: 46%;
	float:left;
	padding:5px;
	min-height: 88px;
	border-radius: 3px;	
}
#online_uyeler {
	background: #fff url(../../../images/io-theme/online_icon.png) bottom right no-repeat;
	margin-right: 10px;
	padding: 10px;
	border-radius: 3px;
}
#online_uyeler_sayi {
	background-color: white;
	margin-right: 10px;
	padding: 10px;
	margin-top: 10px;
	border-radius: 3px;
	word-spacing: 2px;
}
#istatistik_pasta {
	background-color: white;
	width: 46%;
	float:right;
	padding:5px;
	min-height: 88px;
	border-radius: 3px;
	overflow: hidden;	
}

.ellipx_sol {
	width: 50%;
	float:left;
}
#son_icerikler {width: 100%;height: auto;margin: auto;box-sizing: border-box;}
#son_icerikler ul {height: 300px;margin: 5px;padding: 0px;list-style-type: none;border: 1px solid white;overflow: hidden;box-sizing: border-box;}
#son_icerikler ul li {background: #000 url(../../../images/io-theme/manset/1.jpg) 50% 50%;background-size: 145%;background-repeat: no-repeat;float: left;height: 100%;width: 50%;min-height: 149px;box-sizing: border-box;border: 1px solid #fff;position: relative;overflow: hidden;transition: background-size 0.3s;}
#son_icerikler ul li+li {background: #000 url(../../../images/io-theme/manset/2.jpg) 50% 30%;background-size: 145%;height: 50%;width: 50%;}
#son_icerikler ul li+li+li {background: #000 url(../../../images/io-theme/manset/3.jpg) 30% 75%;background-size: 145%;width: 25%;}
#son_icerikler ul li+li+li+li {background: #000 url(../../../images/io-theme/manset/4.jpg) 40% 80%;background-size: 145%;}
#son_icerikler ul li:hover  {background-size: 135%;}
#son_icerikler ul li span {font-family: "oswalddemibold", Arial, sans-serif;font-size: 23px;position: absolute;bottom: 5px;padding-left: 10px;z-index:1;}
#son_icerikler ul li span a:visited,
#son_icerikler ul li span a,hover,
#son_icerikler ul li span a:link {color: #fff;text-decoration: none;}
.kapla {bottom: 0;left: 0;position: absolute;right: 0;top: 0;z-index: 1;}

@media screen and (max-width: 640px) {
	#son_icerikler ul {height: auto;}
	#son_icerikler ul li {width: 100%;min-height: 223px;height: 223px;}
	#son_icerikler ul li+li {height: 50%;width: 33.33%;min-height: 149px;}
	#son_icerikler ul li+li+li {height: 50%;width: 33.33%;min-height: 149px;}
}

@media screen and (max-width: 480px) {
	#son_icerikler ul li {width: 100%;min-height: 74px;}
	#son_icerikler ul li+li {width: 100%;min-height: 74px;}
	#son_icerikler ul li+li+li {width: 100%;min-height: 74px;}
}
		