a:visited, a:link, .forumbit:hover .basharf, #header ul.menu li:hover a:hover, #header ul.menu li a:visited, #header ul.menu li a {color: #126784;}
a:hover {color: #1F86A9;}
.konu_yorum:hover {color: #118EC5;}
.tooltip:hover {color: #1F86A9;}
.ktgr_baslik {background: #126784;}
.ktgr_baslik::after {background-color: #D4D4D4;border-right: 6px solid #F3F3F3;}
.basharf {color: #D4D4D4;}
.forumbit_forum a:hover {color: #1F86A9;}
.forumbit:hover .konu-yorum {background-color: #126784;}
#header ul.menu:hover li a {color: #D4D4D4;}
.etiket li, .etiket li a {color: #fff;}
.etiket a {background: #156A86;}
.etiket a:before {border-color: transparent #156A86 transparent transparent;}
.etiket a:hover {background: #095169;}
.etiket a:hover:before {border-color: transparent #095169 transparent transparent;}
.idk a:visited, .idk a:link {color: #7DB2C3;}
.konu_ismi, .konu_yorum {color: #156A86;}
		