@media screen and (max-width: 768px) {
	ul.dropdown li {padding: 15px;font-size: 14pt;}
	ul#dropdown2 {width: 270px;}
	ul#dropdown2 li {padding: 15px;font-size: 14pt;}
	.ellipx_sol {width: 100%;}
	.forum_status,
	.kategori_aciklamasi,
	.konu-yorum,
	.kyazi,
	.forumbit_icon,
	.forumbit_sayac,
	#forum_istatistikleri {display: none;}
	.forumbit_forum {width: 55%;}
	.forumbit_sonkonu {width: 40%;}
	.stat_left {clear: both;width: 100%;    margin-top: 10px;}
	.stat_right {clear: both;width: 99%;}
	.pm_alert {font-size: 16px;white-space: initial;padding: 5px;}
	.trow_kapat, .trow99_kapat {left: 0px;}
	#cmon {padding-top: 10px;}
	#forum_istatistikleri_icerik {width: 100%;box-sizing: border-box;}
	#header ul.menu li a {font-size: 14pt;padding: 5px;}
	#istatistik_pasta {clear: both;margin-top: 10px;width: 100%;padding: 5px 0px 5px 0px;float: left;}
	#online_uyeler {margin-right: 0px;}
	#online_uyeler_sayi {margin-top: 10px;margin-right: 0px;}
	.tab-content {padding: 0;}
	#yonleniyor {width: 95%;}
}

@media screen and (max-width: 620px) {
	.avatar_k {display: none;}
	.trow_portal {width: 100%;}
	.post.classic .kullanici_bilgileri ul {clear: both;}
	.post.classic .kullanici_bilgileri ul li {display: inline;}
	.post.classic .post_author div.author_avatar {float: left;}
	.post.classic .post_author div.author_information {float:left;text-align:left;}
	.post.classic .post_author div.author_statistics {border-top: none;border-bottom: none;}
	.post.classic .post_content {border-top: none;width: auto;clear: both;}
	.post.classic .post_author {width: auto;float:none;min-height: auto;margin-right: 0;}
	.ktgr_baslik {font-size: 13px;}
	ul.thread_tools, ul.thread_tools li {float: none;margin-bottom: 12px;}
	.konu_yorum {font-size: 17px;}
	.modal {width: 320px!important;}
	.giris-yap-kismi {
	width: 100%;
	text-align: center;
  border-bottom: 1px solid #CDCDCD;
	}
	.istersen-kaydol {
	width: 100%;
	clear: both;
	text-align: center;
}
}


@media screen and (max-width: 768px) {
	#header ul.menu {
	display:none;
	position: fixed;
    background-color: white;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
	overflow-x: hidden;
    padding-right: 19px;
	border-right: 6px solid #DFDFDF;
    box-shadow: 1px 0px 5px 1px #7C7C7C;
	}
	#header ul.menu li {display:block;}
	#mobil_menu {display:block;}
	#dokun {display:block;}
	.fdsayfalar {float: left;clear: both;margin-top: 5px;}
	ul.dropdown3 {
	position: fixed;
    top: 0px;
	}
	
	ul.dropdown4,
	ul#dropdown2,
	ul.dropdown {
		top: 0px;
		right: 0px;
		bottom: 0px;
		width: 222px;
		padding: 0px;
		position: fixed;
		border-top:none;
		margin-top: 0px;
		margin-right: 0px;
		border-radius: 0px;
		margin-bottom: 0px;
		border-bottom:none;
		border-left: 6px solid #DFDFDF;
		box-shadow: -1px 0px 5px 1px #7C7C7C;
		overflow-x: hidden;
	}
}

tr td.trow1:first-child,
tr td.trow2:first-child,
tr td.trow_shaded:first-child {
	  border-left: 1px solid #b7b7b7;
}

tr td.trow1:last-child,
tr td.trow2:last-child,
tr td.trow_shaded:last-child {
	border-right: 1px solid #b7b7b7;
}



.thead_collapsed {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.thead_left {
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.thead_right {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.tcat_menu {
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
  	border-radius: 0 !important;
}

.tborder tbody:nth-last-child(2) .tcat_collapse_collapsed {
	-moz-border-radius-bottomleft: 6px !important;
	-moz-border-radius-bottomright: 6px !important;
	-webkit-border-bottom-left-radius: 6px !important;
	-webkit-border-bottom-right-radius: 6px !important;
	border-bottom-left-radius: 6px !important;
	border-bottom-right-radius: 6px !important;
}

button,
input.invalid_field,
input.valid_field,
select,
textarea,
.editor_control_bar,
blockquote,
.codeblock,
fieldset,
.red_alert,
.popup_menu,
.postbit_buttons > a,
a.button {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.pollbar {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
		