.forumbit {
	width:100%;
	background:#fff;
	border: 1px solid #b7b7b7;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 50px;
}

.forumbit_icon {
	width:4%;
	position: relative;
	border-right: 1px solid #BFBFBF;
}

.basharf {
	color: #A3A3A3;
    font-size: 35px;
	font-family: serif;
	transition: color 0.4s;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.forumbit_forum {
	width:62%;
	padding-left: 10px;
}
.forumbit_forum a:visited,
.forumbit_forum a:link {
	font-size: 15px;
}

.forumbit_sayac {
	width:4%;
	white-space: nowrap;
	position: relative;
}

.forumbit_sonkonu {
	width:24%;
	overflow:hidden;
}

.forumbit_altforum {
	background: #F5F5F5;
	border-top: 1px solid #D8D8D8;
	padding: 5px;
	clear: both;
	margin-bottom: -10px;
}

.forumbit:hover .kyazi {
	opacity: 1;
}
.forumbit:hover .konu-yorum {
	background-color: #5C5C5C;
	color: #fff;
}
.forumbit:hover .basharf {
	color: #5C5C5C;
}
.konu-yorum {
	font-size: 18px;
	font-family: sans-serif;
	color: #A3A3A3;
	background-color: #EAEAEA;
	padding: 3px 5px 3px 5px;
	border-radius: 3px;
	top: 10px;
	position: relative;
	transition: color 0.4s, background-color 0.4s;
	
}

.kyazi {
	opacity: 0;
	font-size:11px;
	position: relative;
	top: 10px;
	transition: opacity 0.4s;
}

.sm_bilgi {
	height:11px;
	width:11px;
	float:left;
	top: 3px;
	position: relative;
	margin-right: 3px;
}
.yazar_icon {
	background:url(../../../images/io-theme/yazar.png);
}

.tarih_icon {
	background:url(../../../images/io-theme/tarih.png);
}

.son_mesaj_icon {
	background: url(../../../images/io-theme/son-mesaj.png);
}
		