body {
	background: #ccc;
	color: #333;
	text-align: center;
	line-height: 1.4;
	margin: 0;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 13px;
	overflow-y: scroll;
}

a:link {
	color: #4A4A4A;
	text-decoration: none;
}

a:visited {
	color: #4A4A4A;
	text-decoration: none;
}

a:hover,
a:active {
	color: #000;
	text-decoration: none;
}

#container {
	background: url(../../../images/io-theme/back.jpg) top no-repeat;
	text-align: left;
	line-height: 1.4;
	margin: 0;
	font-family: Sans-Serif, Tahoma, Verdana, Arial;
	font-size: 13px;
}

.wrapper {
	width: 100%;
	max-width: 1111px;
	margin: auto auto;
}


#content {
	width: 100%;
	overflow: hidden;
	margin: auto auto;
}

#panel {
	
}
#header ul.menu li a:visited,
#header ul.menu li a {
	background-repeat: no-repeat;
	display: inline-block;
	color: #5D5D5D;
	font-size: larger;
	text-transform: uppercase;
	padding: 0 7px 0 7px;
	transition: color 0.2s, font-size 0.2s;
}

#header ul.menu {
	margin: 0;
	padding: 0 0 0 5px;
	list-style: none;
}

#header ul.menu li {
	font-family: 'robotoblack', sans-serif;
	display: inline-block;
	display: -webkit-inline-box;
	line-height: 35px;
	margin-right: -5px;
}

#header ul.menu li:hover a:hover {
	text-decoration: none;
	color: #5D5D5D;
}

#header ul.menu:hover  li  a {
	text-decoration: none;
	color: #AFAFAF;
}


#panel .upper {
	color: #000;
	border-bottom: 1px solid #C4C4C4;
	clear: both;
}



#panel .lower {
	background: #f2f2f2;
	color: #999;
	box-shadow: 0px 4px 11px -4px #4B4B4B;
	border-top: 1px solid #C4C4C4;
}

#panel .lower a:link,
#panel .lower a:visited,
#panel .lower a:hover,
#panel .lower a:active {
	font-family: sans-serif;
	font-weight: bolder;
	padding: 8px 0px;
	font-size: 9px;
}

#search {
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

#search input.button,
#search input.textbox {
	border-color: #A4A4A4;
}

#search input.button {
	background: #fff;
	color: #4B4B4B;
	height: 31px;
}

#search input.button:hover {
	background: #555;
	color: #fff;
}

#search input {
	margin: -3px;
	vertical-align: middle;
}

#quick_login .remember_me input {
	vertical-align: middle;
	margin: -3px 0 0 5px;
}

.post {
	background: white;
	margin-top: 5px;
	border: 1px solid #BEBEBE;
}

#hosgeldin {
    position: absolute;
    bottom: 50px;
    right: 15px;
    opacity: 0;
	transition: opacity 0.4s, right 0.4s;
}
#copyright {
	color: #808080;
	text-shadow: 1px 1px 2px black;
  font-weight: bold;
}
#copyright a:link {
	color: white;
}

#footer {
	background: #333333 url(../../../images/io-theme/footer-bg.png);
	clear: both;
	text-align: left;
	overflow: hidden;
}

#footer ul.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer ul.menu li {
	display: inline;
	line-height: 25px;
}
#footer ul.menu li a:link {
	padding: 5px;
}
#footer .upper {
	background: #efefef;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding: 6px;
	font-size: 12px;
	overflow: hidden;
}

#footer a:link,
#footer a:visited,
#footer a:active {
	color: #ccc;
	font-weight: bold;
	font-family: Arial;
	font-size: 14px;
	text-shadow: 1px 1px 2px black;
	transition: color 0.3s;
}
#footer a:hover {
	color: #fff;
}
#footer .upper .language {
	float: right;
	margin: -1px;
	margin-left: 15px;
}

#footer .upper .language select {
	border-color: #ccc;
}

#footer .upper .theme {
	float: right;
	margin: -1px;
	margin-left: 15px;
}

#footer .upper .theme select {
	border-color: #ccc;
}

#footer .upper ul.bottom_links {
	float: left;
	margin: 4px 0 0 0;
}

#footer .lower {
	color: #666;
	padding: 6px 6px 12px 6px;
	overflow: hidden;
	font-size: 11px;
}

#footer .lower a:link,
#footer .lower a:visited {
	color: #444;
	font-weight: bold;
}

#footer .lower a:hover,
#footer .lower a:active {
	color: #333;
	text-decoration: underline;
	font-weight: bold;
}

#footer .lower #current_time {
	float: right;
	color: #888;
}
#footer_menu {
	overflow: hidden;
	border-bottom: 1px solid #242424;
}

#debug {
	float: right;
	text-align: right;
	margin-top: 20px;
	font-size: 11px;
}

.scaleimages img {
	max-width: 100% !important;
	height: auto;
}

.scaleimages iframe {
	max-width: 100% !important;
}
.forum_status {
	height: 29px;
	width: 29px;
	background: url(../../../images/io-theme/forum_icon_sprite.png) no-repeat 0 0;
	display: inline-block;
}

.forum_on {
	background-position: 0px -29px;
}

.forum_off {
	background-position: 0px 0px;
}

.forum_offlink {
	  background-position: 0px -90px;
  height: 32px;
}

.forum_offlock {
	background-position: 0px -58px;
  height: 31px;
}

.subforumicon {
	height: 10px;
	width: 10px;
	display: inline-block;
	margin: 0 5px;
	background: url(../../../images/io-theme/mini_status_sprite.png) no-repeat 0 0;
}

.subforum_minion {
	background-position: 0 0;
}

.subforum_minioff {
	background-position: 0 -10px;
}

.subforum_miniofflock {
	background-position: 0 -20px;
}

.subforum_miniofflink {
	background-position: 0 -30px;
}

table {
	color: #333;
	font-size: 13px;
}

.tborder {
	width: 100%;
	margin: auto auto;
}

.tfixed {
	table-layout: fixed;
	word-wrap: break-word;
}

.thead {
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e9e9e9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e9e9e9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e9e9e9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */
	color: #000;
	border-top: 1px solid #b7b7b7;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	padding: 8px;
	height: 33px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.thead a:link {
	color: #D60000;
    font-weight: bold;
}

.thead a:visited {
	color: #8c8c8c;
	text-decoration: none;
}

.thead a:hover,
.thead a:active {
	color: #000;
	text-decoration: none;
}
.thead2 {
	background: #fff;
	color: #444;
}
.tcat {
	background: #DDD;
  color: #666;
  border-top: 1px solid #ABABAB;
  padding-left: 6px;
  padding-right:6px;
  font-size: 12px;
}
td.tcat:last-child {
  border-right: 1px solid #b7b7b7;
}

td.tcat:first-child {
  border-left: 1px solid #b7b7b7;
}

.tcat a:link {
	color: #666;
}

.tcat a:visited {
	color: #666;
}

.tcat a:hover,
.tcat a:active {
	color: #777;
}


.trow1 {
	background: #fff;
	  border-bottom: 1px solid #E4E4E4;
}

.trow2 {
	background: #fff;
	  border-bottom: 1px solid #E4E4E4;
}

.trow3 {
	background: #fff;
	float:left;
}



.trow_shaded {
	background: #ffdde0;
	border: 1px solid;
	border-color: #fff #ffb8be #ffb8be #fff;
}

.no_bottom_border {
	border-bottom: 0;
}

.post.unapproved_post {
	background: #ffdde0;
}

.post.unapproved_post .post_author {
	border-bottom-color: #ffb8be;
}
.icerik {
	overflow: hidden;
}
.post.classic.unapproved_post .post_author {
	opacity: 0.7;
}
.post.classic.unapproved_post .icerik {
	opacity: 0.7;
}
.post.unapproved_post .post_controls {
	border-top-color: #ffb8be;
}

.trow_deleted,
.post.deleted_post {
	background: #EDEDED;
}

.trow_selected,
tr.trow_selected td {
	background: #FFFBD9;
}

.trow_selected a:link,
.trow_selected a:visited,
.trow_selected a:hover,
.trow_selected a:active {
	color: #333;
}

.trow_sep {
	background: #ddd;
	color: #999;
	border-bottom: 1px solid #c5c5c5;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
}

.tfoot {
	padding: 10px;
	background: #fff;
	color: #666;
	border-left: 1px solid #b7b7b7;
	border-right: 1px solid #b7b7b7;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 1px solid #b7b7b7;
}

.tfoot a:link {
	color: #444;
	text-decoration: none;
}

.tfoot a:visited {
	color: #444;
	text-decoration: none;
}

.tfoot a:hover,
.tfoot a:active {
	color: #444;
	text-decoration: underline;
}

.thead input.textbox,
.thead select {
	border: 1px solid #BFBFBF;
}

.bottommenu {
	background: #efefef;
	color: #333;
	border: 1px solid #4874a3;
	padding: 10px;
}

.navigation {
	color: #333;
	font-size: 9px;
}

.navigation a:link {
	text-decoration: none;
}

.navigation a:visited {
	text-decoration: none;
}

.navigation a:hover,
.navigation a:active {
	text-decoration: underline;
}

.navigation .active {
	color: #333;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: sans-serif;
}

.smalltext {
	font-size: 12px;
}

.largetext {
	font-size: 16px;
	font-weight: bold;
}

fieldset {
	padding: 12px;
	border: 1px solid #ddd;
	margin: 0;
}

fieldset.trow1,
fieldset.trow2 {
	border-color: #bbb;
}

fieldset.align_right {
	text-align: right;
}

input.textbox {
	background: #f5f5f5;
	color: #333;
	border: 1px solid #ccc;
	padding: 3px;
	outline: 0;
	font-size: 13px;
	font-family: Verdana, Arial, Sans-Serif;
}

textarea {
	background: #ffffff;
	color: #333;
	border: 1px solid #ccc;
	padding: 2px;
	line-height: 1.4;
	outline: 0;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 13px;
}

select {
	background: #ffffff;
	padding: 3px;
	border: 1px solid #ccc;
	outline: 0;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 13px;
}

button,
input.button {
	padding: 3px 8px;
	cursor: pointer;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
	font-size: 13px;
	background: #eee url(../../../images/buttons_bg.png) repeat-x;
	border: 1px solid #bbb;
	color: #333;
	outline: 0;
}

button:hover,
input.button:hover {
	border-color: #aaa;
}

form {
	margin: 0;
	padding: 0;
}

input.error, textarea.error, select.error {
	border: 1px solid #f30;
	color: #f30;
}

input.valid, textarea.valid, select.valid {
	border: 1px solid #0c0;
}

label.error {
	color: #f30;
	margin: 5px;
	padding: 0px;
	display: block;
	font-weight: bold;
	font-size: 11px;
}

form #message {
	background: #F2F2F2;
    width: 500px;
}

.editor {
	background: #f1f1f1;
	border: 1px solid #ccc;
}

.editor_control_bar {
	background: #fff;
	border: 1px solid #ccc;
}

.post .editor_control_bar {
	background: #f5f5f5;
}

.popup_menu {
	background: #fff;
	border: 1px solid #ccc;
	z-index: 1;
}

.popup_menu .popup_item {
	background: #efefef;
	color: #333;
}

.popup_menu .popup_item:hover {
	background: #0072BC;
	color: #fff;
}

.trow_reputation_positive {
	background: #ccffcc;
}

.trow_reputation_negative {
	background: #ffcccc;
}

.reputation_positive {
	color: green;
}

.reputation_neutral {
	color: #444;
}

.reputation_negative {
	color: red;
}

.repbox {
	font-size:16px;
	font-weight: bold;
	padding:5px 7px 5px 7px;
}

._neutral {
	background-color:#FAFAFA;
	color: #999999;
	border:1px solid #CCCCCC;
}

._minus {
	background-color: #FDD2D1;
	color: #CB0200;
	border:1px solid #980201;
}

._plus {
	background-color:#E8FCDC;
	color: #008800;
	border:1px solid #008800;
}

img {
	border: none;
}

img.attachment {
	border: 1px solid #E9E5D7;
	padding: 2px;
}

hr {
	background-color: #000000;
	color: #000000;
	height: 1px;
	border: 0px;
}

.clear {
	clear: both;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.hidden {
	display: none;
	float: none;
	width: 1%;
}

.hiddenrow {
	display: none;
}

.selectall {
	background: #FFFBD9;
	border-bottom: 1px solid #F7E86A;
	color: #333;
	text-align: center;
}

.expcolimage {
	float: right;
	width: auto;
	vertical-align: middle;
	  margin-top: 9px;
  margin-right: 9px;
}

.tcat_menu > .expcolimage {
	margin-top: 0;
}

blockquote {
	border: 1px solid #ccc;
	margin: 0;
	background: #F5F5F5;
	padding: 10px;
}

blockquote cite {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	font-style: normal;
	display: block;
	padding-bottom: 3px;
	margin: 0 0 10px 0;
}

blockquote cite span {
	float: right;
	font-weight: normal;
	font-size: 12px;
	color: #666;
}

blockquote cite span.highlight {
	float: none;
	font-weight: bold;
	padding-bottom: 0;
}

.codeblock {
	background: #EDEDED;
	border: 1px solid #ccc;
	padding: 10px;
}

.codeblock .title {
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	padding-bottom: 3px;
	margin: 0 0 10px 0;
}
.codeblock .title::before {
  content: "Tümünü Seç";
  float: right;
  color: #618BAE;
  cursor: pointer;
}

.codeblock code {
	overflow: auto;
	height: auto;
	max-height: 200px;
	display: block;
	font-family: Monaco, Consolas, Courier, monospace;
	font-size: 13px;
}

.smilie {
	vertical-align: middle;
}

.smilie_pointer {
	cursor: pointer;
}

.separator {
	margin: 5px;
	padding: 0;
	height: 0px;
	font-size: 1px;
	list-style-type: none;
}

.popup_menu .popup_item_container {
	margin: 1px;
	text-align: left;
}

.popup_menu .popup_item {
	display: block;
	padding: 4px;
	white-space: nowrap;
	text-decoration: none;
}

.popup_menu a.popup_item:hover {
	text-decoration: none;
}



.highlight {
	background: #FFFFCC;
	padding-top: 3px;
	padding-bottom: 3px;
}

.pm_alert {
	background: #FFF6BF;
	text-align: center;
	padding: 5px 30px;
	font-size: 11px;
	white-space: nowrap;
}

.red_alert {
	background: #FFE5E5;
	color: #000000;
	text-align: center;
	padding: 5px 20px;
	margin-bottom: 15px;
	font-size: 11px;
	word-wrap: break-word;
	border: 2px solid #C3C3C3;
}

.red_alert a:link,
.red_alert a:visited,
.red_alert a:hover,
.red_alert  a:active {
	color: #A5161A;
}

.high_warning {
	color: #CC0000;
}

.moderate_warning {
	color: #F3611B;
}

.low_warning {
	color: #AE5700;
}

.online {
	color: #15A018;
}

.offline {
	color: #C7C7C7;
}

div.error {
	padding: 5px 10px;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	background: #FFF6BF;
	font-size: 12px;
}

div.error p {
	margin: 0;
	color: #333;
	font-weight: normal;
}

div.error p em {
	font-style: normal;
	font-weight: bold;
	padding-left: 24px;
	display: block;
	color: #C00;
	background: url(../../../images/error.png) no-repeat 0;
}

div.error ul {
	margin-left: 24px;
}

.pagination {
	font-size: 11px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.tfoot .pagination,
.tcat .pagination {
	padding-top: 0;
}

.pagination .pages {
	font-weight: bold;
}

.pagination .pagination_current {
	padding: 3px 6px;
	margin-bottom: 3px;
}

.pagination a {
	color:gray;
}

.pagination .pagination_current {
	background: none;
	color: #333;
	border: none;
	font-weight: bold;
}


.pagination .go_page img {
	margin-bottom: -4px;
}

.drop_go_page {
	background: #f5f5f5;
	padding: 4px;
	z-index: 2;
}

.pagination_breadcrumb {
	background-color: #efefef;
	border: 1px solid #fff;
	outline: 1px solid #ccc;
	padding: 5px;
	margin-top: 5px;
	font-weight: normal;
}

.pagination_breadcrumb_link {
	vertical-align: middle;
	cursor: pointer;
}

.thread_legend,
.thread_legend dd {
	margin: 0;
	padding: 0;
}

.thread_legend dd {
	padding-bottom: 4px;
	margin-right: 15px;
}

.thread_legend img {
	margin-right: 4px;
	vertical-align: bottom;
}

.forum_legend,
.forum_legend dt,
.forum_legend dd {
	margin: 0;
	padding: 0;
}

.forum_legend dd {
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}

.forum_legend dt {
	margin-right: 10px;
	float: left;
}

.success_message {
	color: #00b200;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.error_message {
	color: #C00;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

#posts_container {
	padding: 0;
}

.ignored_post {
	border-top: 3px solid #333;
	padding: 15px;
}

.ignored_post .show_ignored_post {
	margin-top: -15px;
}

.ignored_post .show_ignored_post a.button span {
	background-position: 0 -400px;
}



.post.classic {
	background: none;
	border: none;
}

.post .post_author {
	width: 95%;
	margin: auto;
	padding-top: 5px;
	overflow: hidden;
}

.post.classic .post_author {
	border: 1px solid #bebebe;
    float: left;
    width: 150px;
	min-height: 226px;
    margin-right: 10px;
    padding: 5px;
    background-color: white;
    box-sizing: border-box;
	overflow: visible;
	position: relative;
}
.post.classic .signature {
	border: 1px solid #bebebe;
	border-top: none;
	}

.post .post_author .buddy_status {
  background-color: #fff;
  position: absolute;
  right: 2px;
  bottom: 2px;
  padding: 1px;
}

.post .post_author div.author_avatar {
	float: left;
	position: relative;
	padding: 5px;
}

.post.classic .post_author div.author_avatar {
	float: none;
	text-align: center;
	margin-bottom: 8px;
	width: 75px;
    margin: auto;
}

.post .post_author div.author_avatar img {
	
	border-radius: 50px
}

.post .post_author div.author_information {
	padding: 4px 8px;
	color: #646464;
}

.post.classic .post_author div.author_information {
	float: none;
	padding: 0;
	text-align: center;
}

.post .post_author div.author_statistics {
	font-size: 10px;
	color: #666;
	line-height: 1.3;
	border-bottom: 1px dotted #DADADA;
}

.post.classic .post_author div.author_statistics {
	border-top: 1px dotted #ccc;
	margin: 6px 0 0 0;
	padding: 6px 6px 3px 6px;
	float: none;
}

.post .post_head {
	font-size: 10px;
	height: 14px;
}

.post .post_head span.post_date {
	color: #666;
}

.post .post_head span.edited_post {
	font-size: 10px;
	color: #999;
}

.post .post_head span.edited_post a {
	color: #666;
}
.post_body a:link,
.post_body a:visited,
.post_body a:active {
	color: #2A93DF;
}
.post_body a:hover {
	text-decoration: underline;
}
.post_body {
	font-size: 16px;
	padding: 6px 0;
	word-spacing: 1px;
	line-height: 1.6;
	border-bottom: 1px dotted #DADADA;
	border-top: 1px dotted #DADADA;
}
.post_body h1,
.post_body h2,
.post_body h3,
.post_body h4,
.post_body h5,
.post_body h6 {margin:0;padding:0;}

.post.classic .post_controls {
	width: auto;
	height: 30px;
    padding: 10px;
    padding-left: 3px;
    background-color: white;
    border-left: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
	border-bottom: 1px solid #bebebe;
}
.post.classic .post_content {
	background-color: white;
	padding: 15px;
    box-sizing: border-box;
	margin: 0;
    width: auto;
	border: 1px solid #BEBEBE;
	border-bottom: 1px solid #eeeeee;
	min-height: 175px;
}

.post.classic .tooltip_edited:hover:after {
    left: 0px;
	right: inherit;
    bottom: -22px;
	top: 15px;
}
.post.classic .post_head .tooltip:hover:before {
	top: 11px;
	border-width: 0 .4em .4em .4em;
}
.post_content {
	padding: 5px 10px 5px 10px;
	width: 95%;
	margin: auto;
}


.signature {
	background: #EDEDED;
	border-top: 1px solid #D3D3D3;
	padding: 7px;
}

.post .post_meta {
	margin: 4px 0;
	font-size: 11px;
	color: #999;
}

.post .post_meta a:link,
.post .post_meta a:visited {
	color: #777;
}

.post .post_meta a:hover,
.post .post_meta a:active {
	color: #777;
}

.post_controls {
	width: 95%;
	height: 30px;
	margin: auto;
	clear: both;
	padding: 10px 0 5px 0;
}

.postbit_buttons {
	display: inline-block;
	background-image: url(../../../images/io-theme/buttonlar.png);
	background-repeat: no-repeat;
	margin-left: 7px;
	opacity: 0.6;
	transition: opacity 0.2s;
}

.postbit_buttons:hover {
	opacity: 1;
}

.postbit_find {
	background-position: -126px 0px;
	width: 22px;
	height: 20px;
	margin-bottom: -2px;
}
.postbit_find:hover {background-position: -126px -23px;}
.postbit_reputation_add:hover {background-position: -179px -23px;}
.postbit_email:hover {background-position: -62px -23px;}
.postbit_website:hover {background-position: 0px -23px;}
.postbit_pm:hover {background-position: -62px -23px;}
.postbit_quote:hover {background-position: -148px -23px;}
.postbit_multiquote:hover {background-position: -107px -23px;}
.postbit_multiquote_on:hover {background-position: -107px -23px;}
.postbit_edit:hover {background-position: -85px -23px;}
.postbit_qdelete:hover {background-position: -24px -23px;}
.postbit_report:hover {background-position: -41px -23px;}
.postbit_warn:hover {background-position: -200px -26px;}
.postbit_reputation_add::after {
	content:"rep";
	position:absolute;
	top: 14px;
	font-size: 9px;
	margin:auto;
	left: 11px;
}
.postbit_quote::after {
	content:"quote";
	position:absolute;
	top: 12px;
	font-size: 9px;
	margin:auto;
	left: 13px;
}
.pb_multi::before {
	content:"m.quote";
	position:absolute;
	top: 19px;
	font-size: 9px;
	margin:auto;
	left: -6px;
}
.postbit_email::after {
	content:"email";
	position:absolute;
	top: 13px;
	font-size: 9px;
	margin:auto;
	left: 8px;
}
.postbit_find::after {
	content:"find";
	position:absolute;
	top: 13px;
	font-size: 9px;
	margin:auto;
	left: 10px;
}
.postbit_pm::after {
	content:"pm";
	position:absolute;
	top: 12px;
	font-size: 9px;
	margin:auto;
	left: 12px;
}
.postbit_report::after {
	content:"report";
	position:absolute;
	top: 12px;
	font-size: 9px;
	margin:auto;
	left: 7px;
}

.postbit_warn::after {
	content:"warn";
	position:absolute;
	top: 13px;
	font-size: 9px;
	margin:auto;
	left: 8px;
}
.postbit_purgespammer::after {
	content:"spam";
	position:absolute;
	top: 12px;
	font-size: 9px;
	margin:auto;
	left: 8px;
}

.tooltip_purgespammer:hover:after {
	left: -136px;
    bottom: 31px;
}
.postbit_website::after {
	content:"www";
	position:absolute;
	top: 13px;
	font-size: 9px;
	margin:auto;
	left: 9.6px;
}

.postbit_edit::after {
	content:"edit";
	position:absolute;
	top: 13px;
	font-size: 9px;
	margin:auto;
	left: 8px;
}
.postbit_qdelete::after {
	content:"delete";
	position:absolute;
	top: 13px;
	font-size: 9px;
	margin:auto;
	left: 3px;
}
.postbit_qrestore::after {
	content:"restore";
	position:absolute;
	top: 13px;
	font-size: 9px;
	margin:auto;
	left: 4px;
	white-space: nowrap;
}

.postbit_reputation_add {
	background-position: -179px 0px;
  width: 20px;
  height: 23px;
  margin-bottom: -5px;
}

.postbit_email {
	background-position: -62px 0px;
	width: 23px;
	height: 17px;
}

.postbit_website {
	background-position: 0px 0px;
  width: 23px;
  height: 22px;
  margin-bottom: -3px;
}

.postbit_pm {
	background-position: -62px 0px;
	width: 23px;
	height: 17px;
}

.postbit_quote {
	background-position: -148px 0px;
  width: 31px;
  height: 23px;
  margin-bottom: -5px;
}

.postbit_multiquote {
	background-position: -107px 0px;
  width: 19px;
  height: 19px;
}

.postbit_multiquote_on {
	background-position: -107px -23px;
	width: 19px;
	height: 19px;
	opacity: 1;
}

.postbit_edit {
	background-position: -85px 0px;
	width: 21px;
	height: 20px;
}

.postbit_qdelete {
	background-position: -24px 0px;
	width: 16px;
	height: 18px;
}

.postbit_qrestore {
	background-position: -24px 0px;
	width: 16px;
	height: 18px;
	opacity: 1;
}

.postbit_report {
	background-position: -41px 0px;
  width: 20px;
  height: 20px;
}

.postbit_warn {
	background-position: -200px 0px;
	width: 19px;
	height: 19px;
}

.postbit_purgespammer {
	background-position: -200px 0px;
	width: 19px;
	height: 19px;
}

.postbit_reply_pm {
	background-position: 0 -260px;
}

.postbit_reply_all {
	background-position: 0 -280px;
}

.postbit_forward_pm {
	background-position: 0 -300px;
}

.postbit_delete_pm {
	background-position: 0 -320px;
}

a.button:link,
a.button:hover,
a.button:visited,
a.button:active {
	background: #fff;
	color: #6F6F6F;
	display: inline-block;
	padding: 4px 8px;
	margin: 2px 2px 6px 2px;
	font-size: 13px;
}

a.button.small_button {
	font-size: 13px;
	padding: 3px 6px;
}

a.button span {
	padding-left: 20px;
	display: inline-block;
	background-image: url(../../../images/io-theme/buttons_sprite.png);
	background-repeat: no-repeat;
}
a.button.mesaj_gonder span {
  background-position: 0 -299px;
}
a.button.new_thread_button span {
	background-position: 0 -340px;
}

a.button.new_reply_button span {
	background-position: 0 -360px;
}

a.button.closed_button span {
	background-position: 0 -380px;
}

a.button.rate_user_button span {
	background-position: 0 -400px;
}

a.button.add_buddy_button span {
	background-position: 0 -440px;
}

a.button.remove_buddy_button span {
	background-position: 0 -480px;
}

a.button.add_ignore_button span {
	background-position: 0 -460px;
}

a.button.remove_ignore_button span {
	background-position: 0 -500px;
}

a.button.report_user_button span {
	background-position: 0 -520px;
}

.quick_jump {
	background: url(../../../images/jump.png) no-repeat 0;
	width: 13px;
	height: 13px;
	padding-left: 13px; /* amount of padding needed for image to fully show */
	margin-top: -3px;
	border: none;
}

.pollbar {
	background: url(../../../images/pollbar.png) top left repeat-x;
	border: 1px solid #3f3f3f;
	height: 10px;
}

.pollbar .percent {
	display: none;
}

.posticons_label {
	white-space: nowrap;
}

/** jGrowl Start **/

/** Special IE6 Style Positioning **/
.ie6 {
	position: absolute;
}

.ie6.top-right {
	right: auto;
	bottom: auto;
	left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.top-left {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.bottom-right {
	left: expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.bottom-left {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}

.ie6.center {
	left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	width: 100%;
}

/** jGrowl Styling **/
.jGrowl {
	z-index: 99999;
	color: #fff;
	font-size: 12px;
	position: fixed;
}

.jGrowl.top-left {
	left: 0px;
	top: 0px;
}

.jGrowl.top-right {
	right: 0px;
	top: 0px;
}

.jGrowl.bottom-left {
	left: 0px;
	bottom:	0px;
}

.jGrowl.bottom-right {
	right: 0px;
	bottom: 0px;
}

.jGrowl.center {
	top: 0px;
	width: 50%;
	left: 25%;
}

/** Cross Browser Styling **/

.center .jGrowl-notification,
.center .jGrowl-closer {
	margin-left: auto;
	margin-right: auto;
}

.jGrowl .jGrowl-notification,
.jGrowl .jGrowl-closer {
	background-color: #000;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	zoom: 1;
	width: 235px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	display: none;
	border-radius: 5px;
}

.jGrowl .jGrowl-notification {
	min-height: 40px;
}

.jGrowl .jGrowl-notification,
.jGrowl .jGrowl-closer {
	margin: 10px;
}

.jGrowl .jGrowl-notification .jGrowl-header {
	font-weight: bold;
	font-size: .85em;
}

.jGrowl .jGrowl-notification .jGrowl-close {
	z-index: 99;
	float: right;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
}

.jGrowl .jGrowl-closer {
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
}

/** Hide jGrowl when printing **/
@media print {
	.jGrowl {
		display: none;
}


}

/** jGrowl End **/

/** Modal Start **/

.modal {
	display: none;
	width: 400px;
	line-height: 25px;
	text-align: left;
	background: #efefef;
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	-o-box-shadow: 0 0 10px #000;
	-ms-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.modal a.close-modal {
	position: absolute;
	top: -12.5px;
	right: -12.5px;
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background: url(../../../images/close.png) no-repeat 0 0;
}

.modal-spinner {
	display: none;
	width: 64px;
	height: 64px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -32px;
	margin-top: -32px;
	background: url(../../../images/spinner_big.gif) no-repeat center center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

/** Modal End **/

/** Impromptu Start **/

/*! jQuery-Impromptu - v5.2.4 - 2014-05-26
* http://trentrichardson.com/Impromptu
* Copyright (c) 2014 Trent Richardson; Licensed MIT */

.jqifade {
	position: absolute;
	background-color: #777777;
}

div.jqi {
	width: 400px;
	max-width:90%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	position: absolute;
	background-color: #ffffff;
	font-size: 11px;
	text-align: left;
	border: solid 1px #eeeeee;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 7px;
}

div.jqi .jqiclose {
	position: absolute;
	top: 4px; right: -2px;
	width: 18px;
	cursor: default;
	color: #bbbbbb;
	font-weight: bold;
}

div.jqi .jqistate {
	background-color: #fff;
}

div.jqi .jqititle {
	padding: 5px 10px;
	font-size: 16px;
	line-height: 20px;
	border-bottom: solid 1px #eeeeee;
}

div.jqi .jqimessage {
	padding: 10px;
	line-height: 20px;
	color: #444444;
}

div.jqi .jqibuttons {
	text-align: right;
	margin: 0 -7px -7px -7px;
	border-top: solid 1px #e4e4e4;
	background-color: #f4f4f4;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}

div.jqi .jqibuttons button {
	margin: 0;
	padding: 6px 20px;
	background-color: transparent;
	font-weight: normal;
	border: none;
	border-left: solid 1px #e4e4e4;
	color: #777;
	font-weight: bold;
	font-size: 12px;
}

div.jqi .jqibuttons button.jqidefaultbutton {
	color: #489afe;
}

div.jqi .jqibuttons button:hover,
div.jqi .jqibuttons button:focus {
	color: #287ade;
	outline: none;
}

/* sub states */

div.jqi .jqiparentstate::after {
	background-color: #777;
	opacity: 0.6;
	filter: alpha(opacity=60);
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

div.jqi .jqisubstate {
	position: absolute;
	top: 0;
	left: 20%;
	width: 60%;
	padding: 7px;
	border: solid 1px #eeeeee;
	border-top: none;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}

div.jqi .jqisubstate .jqibuttons button {
	padding: 10px 18px;
}

/* arrows for tooltips/tours */

.jqi .jqiarrow {
	position: absolute;
	height: 0; width: 0;
	line-height: 0;
	font-size: 0;
	border: solid 10px transparent;
}

.jqi .jqiarrowtl {
	left: 10px;
	top: -20px;
	border-bottom-color: #ffffff;
}

.jqi .jqiarrowtc {
	left: 50%;
	top: -20px;
	border-bottom-color: #ffffff;
	margin-left: -10px;
}

.jqi .jqiarrowtr {
	right: 10px;
	top: -20px;
	border-bottom-color: #ffffff;
}

.jqi .jqiarrowbl {
	left: 10px;
	bottom: -20px;
	border-top-color: #ffffff;
}

.jqi .jqiarrowbc {
	left: 50%;
	bottom: -20px;
	border-top-color: #ffffff;
	margin-left: -10px;
}

.jqi .jqiarrowbr {
	right: 10px;
	bottom: -20px;
	border-top-color: #ffffff;
}

.jqi .jqiarrowlt {
	left: -20px;
	top: 10px;
	border-right-color: #ffffff;
}

.jqi .jqiarrowlm {
	left: -20px;
	top: 50%;
	border-right-color: #ffffff;
	margin-top: -10px;
}

.jqi .jqiarrowlb {
	left: -20px;
	bottom: 10px;
	border-right-color: #ffffff;
}

.jqi .jqiarrowrt {
	right: -20px;
	top: 10px;
	border-left-color: #ffffff;
}

.jqi .jqiarrowrm {
	right: -20px;
	top: 50%;
	border-left-color: #ffffff;
	margin-top: -10px;
}

.jqi .jqiarrowrb {
	right: -20px;
	bottom: 10px;
	border-left-color: #ffffff;
}

/** Impromptu End */

#s_a_b {
	color: #6E6E6E;
	background: #2C2C2C;
	font-family: monospace;
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
}
#uc_px_kaydir {
	position: relative;bottom: 3px;
}
.alt_haric_bespx {
	padding: 5px 10px 0px 5px;
}

#click_blocker {
	background-color: rgba(0, 0, 0, 0.11);
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
	display:none;
}

#yapis_yapis {}
.yapis {
	position: fixed;
	margin: auto;
	background: #FFF;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	font-size: 11px;
	border-bottom: 1px solid #C4C4C4;
}

#mobil_menu {
    background: url(../../../images/io-theme/mobil_menu.png);
	width: 34px;
	height: 25px;
	margin: 4px 0 0 10px;
	float: left;
	cursor: pointer;
	display:none;
}
#logo {
	  padding: 10px 0 0 20px;
	  float: left;
}

#logo img {
	width: 100%;
    height: auto;	
}
.istersen-kaydol {
	background: #E4E4E4;
	width: 50%;
	float: right;
	min-height: 220px;
}
.giris-yap-kismi {
	width: 50%;
	float: left;
	border-right: 1px solid #ccc;
	min-height: 220px;
}


.tbaslik {
	background: white;
	border: 1px solid #B7B7B7;
	height: 35px;
	border-top: none;
	border-left: none;
}
.tbaslik a:link,
.tbaslik a:visited {
	color: #fff;
}
.tbaslik:hover .kategori_aciklamasi {opacity: 1;margin-left:11px;}
.kategori_aciklamasi {
	font-size: 11px;
	margin-top: 11px;
	float: left;
	color: #5C5C5C;
	opacity: 0;
	transition: opacity 0.3s, margin-left 0.5s;
}


#baslik {
	background: rgb(242,242,242);/* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,242,242,1) 0%, rgba(252,255,244,1) 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgb(255, 255, 255)));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(242,242,242,1) 0%,rgb(255, 255, 255) 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(252,255,244,1) 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(242,242,242,1) 0%,rgba(252,255,244,1) 100%);/* IE10+ */
	background: linear-gradient(to bottom,  rgba(242,242,242,1) 0%,rgb(255, 255, 255) 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 );/* IE6-9 */
	width:95%;
	height: 50px;
	margin:auto;
	margin-top: -40px;
	box-shadow: 0 -4px 4px 1px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 1;
	display: none;
}
#begeni_sayisi {
	position: relative;
	top: -3px;
	color: #2D2D2D;
	font-size: 18px;
}
.link {
	font-size: 15px;
	font-family: 'Oswald', Arial, sans-serif;
}
.subject_old {
	font-size: 14px;
}
.subject_new {
	font-size: 14px;
}
#header {
	background: #fff;
}
#posts {
	margin: -5px 0 0 0;
}
.mesaj_1 {
	border-top: none;
}
.kullanici_bilgileri {
	font-size: 11px;
}
.dropdown-toggle {
	position: relative;
	top: 3px;
}

ul.dropdown {
	background: #fff;
	display: none;
	width: 200px;
	box-shadow: 0 0 5px -1px black;
	list-style-type: none;
	text-align: left;
	font-size: 12px;
	position: absolute;
	z-index: 4;
	margin: 30px 0 0 0;
	right: 0;
	padding: 5px;
	border-top: 6px solid #7C7C7C;
	border-bottom: 6px solid #7C7C7C;
  border-radius: 10px;

    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: .5em 1em;
        display: block;
      }
   }
}

ul.dropdown li {
	padding: 5px;
}

ul.dropdown li:hover {
	background: grey;
}

ul.dropdown a:visited,
ul.dropdown a:link {
	color: grey;
}

ul.dropdown a:hover {
	color:#fff;
	text-decoration: none;
}

ul.dropdown li:hover {
	background: #555;
	color: white;
}

ul.dropdown li:hover a:link,
ul.dropdown li:hover a:visited
 {
	color: white;
}
/*DDDDDDDDDRRRRRRRRRROOOOOOOPPPPPPPPDDDDDDDOOOOOOOOWWWWWWWWNNNNNNNN22222222*/
.dropdown-toggle2 {
	position: relative;
	top: 0;
}

ul#dropdown2 {
	background: #fff;
	display: none;
	width: auto;
	box-shadow: 0 0 5px -1px black;
	list-style-type: none;
	text-align: left;
	font-size: 12px;
	position: absolute;
	z-index: 4;
	margin: 30px 0 0 0;
	padding: 5px;
	right:0;
	border-top: 6px solid #7C7C7C;
	border-bottom: 6px solid #7C7C7C;
  border-radius: 10px;

    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: .5em 1em;
        display: block;
      }
   }
}

ul#dropdown2 li {
	padding: 5px;
}

ul#dropdown2 li:hover {
	background: grey;
}

ul#dropdown2 a:visited,
ul#dropdown2 a:link {
	color: grey;
}

ul#dropdown2 a:hover {
	color: #000;
	text-decoration: none;
}

ul#dropdown2 li:hover {
	background: #555;
	color: white;
}

ul#dropdown2 li:hover a:link,
ul#dropdown2 li:hover a:visited
 {
	color: white;
}
/*DDDDDDDDDRRRRRRRRRROOOOOOOPPPPPPPPDDDDDDDOOOOOOOOWWWWWWWWNNNNNNNN22222222*/

ul.dropdown-toggle3 {
	
}

ul.dropdown3 {
	display: none;
	background: #fff;
	box-shadow: 0 2px 3px 0 #B3B3B3;
	list-style-type: none;
	text-align: left;
	font-size: 12px;
	position: absolute;
	z-index: 2;
	margin: auto;
	padding: 5px;
	left: 0;
	right: 0;
	border-top: 1px solid #C4C4C4;
	line-height: 50px;

}

ul.dropdown3 a:visited,
ul.dropdown3 a:link {
	color: grey;
}

ul.dropdown3 a:hover {
	color:#000;
	text-decoration: none;
}

/*DDDDDDDDDRRRRRRRRRROOOOOOOPPPPPPPPDDDDDDDOOOOOOOOWWWWWWWWNNNNNNNN333333333333333333333*/
ul.dropdown4 tr td.trow2:last-child {border-right: none;}
ul.dropdown4 tr td.trow2:first-child {border-left: none;}
ul.dropdown4 {
	display: none;
	background: #fff;
	width: 260px;
	box-shadow: 0 0 5px -1px grey;
	list-style-type: none;
	text-align: left;
	font-size: 12px;
	position: absolute;
	z-index: 4;
	margin: 30px 0 0 0;
	right: 0;
	padding: 0;
	border-top: 6px solid #7C7C7C;
	border-bottom: 6px solid #7C7C7C;
  border-radius: 10px;

    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: .5em 1em;
        display: block;
      }
   }
}

ul.dropdown4 li {
	padding: 5px;
}

ul.dropdown4 li:hover {
	background: grey;
}

ul.dropdown4 a:visited,
ul.dropdown4 a:link {
	color:grey;
}

ul.dropdown4 a:hover {
	color:#000;
	text-decoration: none;
}

ul.dropdown4 li:hover {
	background: #555;
	color: white;
}

ul.dropdown4 li:hover a:link,
ul.dropdown4 li:hover a:visited
 {
	color: white;
}

/*DDDDDDDDDRRRRRRRRRROOOOOOOPPPPPPPPDDDDDDDOOOOOOOOWWWWWWWWNNNNNNNN444444444444444444444*/


#avantajlarin {
	width: 260px;
	margin: auto;
	text-align: left;
}
.kutucuk {
	width: 200px;
	padding: 8px!important;
}


#yenipm {
	background: url(../../../images/io-theme/bildirim.png);
	width: 22px;
	height: 17px;
	float: right;
	margin: 2px 0 0 5px;
	display:none;
	position: relative;
}

#ayarlar {
	background: url(../../../images/io-theme/ayarlar.png);
	width: 20px;
	height: 21px;
	float: right;
	margin: 0 2px 0 5px;
}

#arkadaslarim {
	background: url(../../../images/io-theme/arkadaslarim.png);
	width: 21px;
	height: 20px;
	float: right;
	margin: 0 2px 0 5px;
}



.arkarka {
	background: #E1E1E1;
	color: #000;
	font-size: 11px;
	border-left: 1px solid #B7B7B7;
	border-right: 1px solid #B7B7B7;
	border-bottom: 1px solid #CDCDCD;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
#yenipmnum1 {
	background: red;
  border-radius: 9px;
  width: 10px;
  height: 10px;
  position: absolute;
  text-align: center;
  padding: 2px;
  font-size: 9px;
  left: 12px;
  bottom: 10px;
  color: white;
  text-shadow: 1px 1px 1px black;
  border: 2px solid white;
  font-weight: bold;
}

.idk {
	position: relative;
	top: 1px;
}
.idk a:visited,
.idk a:link {
	color: #969696;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}
.idk a:hover {
	text-decoration:none;
	color: #000;
}
#mini-panel {
	float:right;
	margin: 0 5px 0 0;
}

#mini-panel-sol-blok {
	float:left;
	text-align: right;
	margin: 0 10px 0 0;
	padding: 7px 0 0 0;
}

#cmon {
	color: #A4A4A4;
}

#kullanici-avatari {
	background: url(../../../images/io-theme/standart-avatar.png);
	background-size: 50px 50px;
	background-position: center;
	border: 2px solid #fff;
	position: relative;
	top: -10px;
	float: right;
	box-shadow: 0 0 2px 0 #666;
	transition: all 0.2s;
}

.welcome {
	margin: 0 10px 0 0;
	float: right;
}
.welcome a:visited,
.welcome a:link {
	  color: #4C4C4C;
  font-size: 15px;
  padding: 8px;
  transition: background 0.1s, color 0.1s;
  font-family: 'robotoblack', sans-serif;
}
.welcome a:hover {
	background: black;
	color: #fff;
	text-decoration: none;
}
.arama-kutusu {
	width: 230px;
	height: 23px;
}
.ko-arka {
	background: #fff;
	border-bottom: 1px solid #C3C3C3;
	border-left: 1px solid #C3C3C3;
	border-right: 1px solid #C3C3C3;
	transition: background 1s;
}

.ucnokta {
	font-size: 26px;
  margin: 0 0 -30px 0;
  text-align: center;
  top: -23px;
  position: relative;
  font-family: cursive;
  color: #7B7B7B;
	transition: opacity 1s;
	cursor: pointer;
}

#sosyalaglardabiz {
	overflow: hidden;
	background: #2C2C2C;
	padding: 5px;
}

.sayfamiz {
	background-size: 27px 27px;
	height: 27px;
	width: 27px;
	opacity: 0.5;
	margin: 1px;
	float: left;
}
.facebook {
	background: url(../../../images/io-theme/sosyal/fb.png) no-repeat;
	background-size: 27px 27px;
}
.twitter {
	background: url(../../../images/io-theme/sosyal/tw.png) no-repeat;
	background-size: 27px 27px;
}
.youtube {
	background: url(../../../images/io-theme/sosyal/yt.png) no-repeat;
	background-size: 27px 27px;
}
.googleplus {
	background: url(../../../images/io-theme/sosyal/gp.png) no-repeat;
	background-size: 27px 27px;
}
.facebook:hover,
.twitter:hover,
.youtube:hover,
.googleplus:hover {
	opacity:1;
}

.trow6 {
	background: #fff;
	border-right: 1px solid #b7b7b7;
	border-left: 1px solid #b7b7b7;
}

.trow99 {
	background: #fff;
    border: 1px solid #B7B7B7;
    margin: auto;
    color: #009002;
    text-align: left;
    padding: 10px;
    display: none;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
	list-style-position: inside;
}
.trow99 li a:hover {color: #444;}
.trow99 li a {color: #7c7c7c;font-weight: bold;}

.trow_kapat:hover,
.trow99_kapat:hover {
	border: 1px solid black;
}
.trow_kapat,
.trow99_kapat {
	background: #fff url(../../../images/io-theme/button/sil.png) center no-repeat;
  background-size: 10px 10px;
  padding: 5px;
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 17px;
  border: 1px solid grey;
  left: -14px;
  top: -10px;
}


.gizle0 {
	display:none;
}
.inline_row {
	height: 66px;
}
.trow4 {
	background: #E4E4E4;
}
.trow_portal {
	background: #fff;
}
.sayfak {
	background: #FAFAFA;
	border: 1px solid #E7E7E7;
	padding: 2px 4px 2px 4px;
	font-family: monospace;
	color: grey;
}

.sayfak:hover {
	background: #fff;
	border: 1px solid #c3c3c3;
	color: #000;
}

.sayfab {
	background: #FFFFFF;
  padding: 5px 9px 5px 9px;
  font-family: sans-serif;
  color: darkgrey;
}
.sayfab:hover {
	color: #000;
}
.sayfab_current {
	background: #ddd;
}

.sayfab_current:hover {
	color: darkgrey;
}
.konu_yorum {
	background: #FFFFFF;
	padding: 3px 9px;
	font-family: robotoblack;
	font-size: 15px;
	color: #5c5c5c;
	text-transform: uppercase;
	border: 1px solid #bebebe;
}
.konu_yorum:hover {
	color: #000;
}
#yukleniyor {
	display: block;
	background: url(../../../images/io-theme/spinner_big.gif) no-repeat top center;
	text-align: center;
	height: 50px;
	position: relative;
	margin: 5px;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover {
    color: #c00;
    text-decoration: none;
}

.tooltip:hover:after {
    background: #111;
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    bottom: 31px;
    color: #fff;
    content: attr(data-title);
    display: block;
    min-width:150px;
    text-align:center;
    margin:auto;
    padding: 2px 6px;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
}

.tooltip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0,0,0,.8) transparent;
    border-width: .4em .4em 0 .4em;
    bottom: 26px;
    content: "";
    display: block;
    left: 44%;
    position: absolute;
    z-index: 99;
}
.tooltip_multiquote:hover:after {
	left: -108px;
	bottom: 28px;
}
.tooltip_multiquote:hover:before {
	bottom: 23px;
}
.tooltip_edited:hover:after {
	margin:0;
	right: 0;
}
.tooltip_edited:hover:before {
	bottom: 27px;
}
.tooltip_warn:hover:after {
	left: -136px;
    bottom: 31px;
}
.displayfix {
	display:inline-block;
}
.kimleryazmis {
	background: #2D2D2D;
	position: absolute;
	z-index: 2;
	bottom: 22px;
	left: -12px;
	padding:5px;
	color: #fff;
}
.ktgr_baslik {
    background: #444;
    line-height: 35px;
    font-family: Oswald;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    color: #fff;
    font-size: 16px;
    float: left;
    padding: 0 0 0 10px;
  
}
.ktgr_baslik::after {
	content: "";
	background-color: #6E6E6E;
	width: 6px;
	float: right;
	height: 35px;
	border-right: 6px solid #A3A3A3;
	margin: 0 0 0 10px;
}


.buddy_avatar img {
	border-radius:50px;
}
		