.tabs-menu {
    height: 39px;
    clear: both;
    background: url(../../../images/io-theme/tab-thead.png);
    padding: 0;
    margin: 0;
    border: 1px solid #BEBEBE;
    border-top: none;
}

.tabs-menu li {
    height: 39px;
    line-height: 39px;
    float: left;
    list-style-type: none;
    background: url(../../../images/io-theme/tab-thead.png);
    border-bottom: 1px solid #BEBEBE;
}

.tabs-menu li.current {
    position: relative;
    background: #fff;
    z-index: 1;
    border-bottom: none;
    height: 40px;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #777777;
    text-decoration: none;
    font-weight: bold;
}
.tabs-menu li:first-child {margin-left: 169px;}
.tabs-menu .current a {
    color: #000000;
}

.tab {
    background-color: #fff;
	border: 1px solid #BEBEBE;
    border-top: none;
}

.tab-content {
    padding: 25px 29px 20px 29px;
    display: none;
    min-height: 200px;
	box-sizing: border-box;
}

#tab-1 {
 display: block;   
}

#tab-5-araclar {
	display: none;
}

.trowsol {
	background: #E7E7E7;
	border-top: 2px solid white;
	padding: 7px;
	width: 140px;
	float: left;
	box-sizing: border-box;
}

.trowsag {
	background: #f5f5f5;
	border-top: 2px solid #fff;
	padding: 7px;
	width: 87%;
	box-sizing: border-box;
}
.trowsag:hover {
	background: #EFEFEF;
}

.trowsag a {
	padding: 8px 0 8px 0;
}
/*DROPDOWN3*/

ul.araclarmenu {
	display: none;
  background: #fff;
  box-shadow: 0px 0px 5px -1px grey;
  list-style-type: none;
  text-align: left;
  position: absolute;
  z-index: 4;
  padding: 0px;
  border: 1px solid #AEAEAE;
  top: 14px;
  right: 0px;
}

ul.araclarmenu li {
	padding: 5px;
}

ul.araclarmenu li:hover {
	background: grey;
}

ul.araclarmenu a:visited,
ul.araclarmenu a:link {
	color:grey;
}

ul.araclarmenu a:hover {
	color:#000;
	text-decoration: none;
}

ul.araclarmenu li:hover {
	background: #555;
	color: white;
}

ul.araclarmenu li:hover a:link,
ul.araclarmenu li:hover a:visited
 {
	color: white;
}
.araclarklik {
	cursor:pointer;
	text-transform:uppercase;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#araclarucnokta {
	background: white url(../../../images/io-theme/ucnokta.png) no-repeat center;
	width: 18px;
  height: 18px;
  padding: 3px 6px;
  display: inline-block;
  margin: 0px 5px -8px 0px;
  border-radius: 3px;
}
/*DROPDOWN4*/

.renkgecis {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 74%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(74%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 74%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,0) 74%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 74%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 74%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
vertical-align: bottom;
}

#neyapiyor {
	position: relative;
    margin-left: 150px;
    bottom: -100px;
    color: white;
    text-shadow: 0px 0px 6px white;
    clear: both;
}
#neyapiyor a:link,
#neyapiyor a:visited,
#neyapiyor a:active {
	color:#D0D0D0;
}
#neyapiyor a:hover {color:#fff;}
#secenekler {
	position:absolute;right:0px;bottom:0px;
}
#kapak {
	background: url(../../../images/io-theme/member-cover.jpg) center no-repeat;
	height:222px;
	border: 1px solid #BEBEBE;
	border-bottom: none;
	position:relative;
	background-size: cover;
}
.tekst_arka {
background: rgba(255, 255, 255, 0.95);  padding: 5px;  position: relative;
}

#k_avatari {
	float: left;
    position: relative;
    z-index: 1;
	height: 100px;
    width: 100px;
    top: 60px;
    left: 30px;
    border: 5px solid white;
    box-shadow: 0px 0px 1px 1px #B4B4B4;
}
#mobile_mod {
	background: url(../../../images/io-theme/tab-thead.png);
	height: 39px;
	clear: both;
	box-sizing: border-box;
	padding: 7px;
	display: none;
}
		
#mobile_mod_button {
			background: url(../../../images/io-theme/mobile_mod_button.png) no-repeat;
			width: 39px;
			height:25px;
			float:right;
			cursor: pointer;
	 		-webkit-user-select: none;
    		-khtml-user-select: none;
   			-moz-user-select: -moz-none;
   			-o-user-select: none;
  			user-select: none;
}

@media screen and (max-width: 768px) {
	#mobile_mod {display: block;}
	#k_avatari {top: -9px;left: 6px;}
	.tekst_arka {margin-bottom: 15px;}
	.tabs-menu {position: relative;height: auto;display: none;}
	.tabs-menu li {float: none;}
	.tabs-menu li.current {background-color:#cacaca;}
	.tabs-menu li:first-child {margin-left:0px;}
	.tabs-menu li a {width: 100%;float: left;padding: 0 20px;}
	.tabs {min-width: inherit;}
	.tabs label {background: #fff url(../../../images/io-theme/tab-thead.png) repeat-x;}
	.tabs li {margin-left:0px;}
	.tab-content {padding-top: 5px;}
}
		