a:visited, a:link, .forumbit:hover .basharf, #header ul.menu li:hover a:hover, #header ul.menu li a:visited, #header ul.menu li a {color: #BB3232;}
.ktgr_baslik {background: #BB3232;}
.ktgr_baslik::after {background-color: #D4D4D4;border-right: 6px solid #F3F3F3;}
.basharf {color: #D4D4D4;}
.forumbit_forum a:hover {color: #8E1919;}
.forumbit:hover .konu-yorum {background-color: #BB3232;}
#header ul.menu:hover li a {color: #D4D4D4;}
.etiket li, .etiket li a {color: #fff;}
.etiket a {background: #BB3232;}
.etiket a:before {border-color: transparent #BB3232 transparent transparent;}
.etiket a:hover {background: #8C1818;}
.etiket a:hover:before {border-color: transparent #8C1818 transparent transparent;}
.idk a:visited, .idk a:link {color: #CE7F7F;}
.konu_ismi, .konu_yorum {color: #BB3232;}
.post_body a:link, .post_body a:visited, .post_body a:active {color: #F31E1E;}
		