@font-face {
	font-family: 'oswalddemibold';
	font-weight: normal;
	font-style: normal;
  src: local('Oswald DemiBold'), local('Oswald-DemiBold'), url(../../../images/io-theme/font/oswald-demibold-webfont.woff2) format('woff2'), url(../../../io-theme/font/oswald-demibold-webfont.woff) format('woff');
}
#kapak {display: none;}
.konu_ismi {
	font-family: "oswalddemibold", Arial, sans-serif;
	margin: 0 0 0 10px;
	padding:5px;
	font-size: 18pt;
}
#anakonu {
	display: none;
	background: white;
	border-left: 1px solid #bebebe;
	position: relative;
	z-index: 1;
	border-right: 1px solid #bebebe;
	border-top: 1px solid #bebebe;
	overflow: hidden;
}
#konu_araclari_t {
	display: none;
}
#tarih {
	float: right;
	text-align: center;
	list-style-type: none;
}
#tarih li {
	background: rgb(255, 255, 255);
	color: #666;
	font-size: 11px;
	overflow: hidden;
	height: 29px;
	padding: 0px 3px;
}
		
#tarih li + li {
	background: rgb(251, 251, 251);
	color: #999;
	font-size: 19px;
	height: 24px;
	border-top: 1px solid #E6E6E6;
}
		
#tarih li span {
	font-size: 28px;
	float: left;
	position: relative;
	top: -5px;
}

.rutbe {
	font-size: 9px;
	left: 10px;
	position: relative;
	bottom: 1px;
}
#konu_arka {
	background: white url(../../../images/io-theme/konu-kapak.jpg) no-repeat center;
	width: 100%;
	height: 250px;
	background-size: 1109px 250px;
	text-align: center;
	transition: transform 0.5s;
  overflow: hidden;
}
#konu_arka:hover #paylas_fb {left: 0px;opacity: 1;transform: scale(0.9);}
#konu_arka:hover #paylas_gp {right: 0px;opacity: 1;transform: scale(0.9);}
#konu_arka:hover #paylas_twt {top: 0px;opacity: 1;transform: scale(0.9);}
#konu_arka:hover {transform: scale(1.1);}
#konu_arka:hover #dokun {
	opacity: 0;
}
#dokun {
	background: url(../../../images/io-theme/sosyal/dokun.png);
	width:33px;
	height:47px;
	display:none;
	  position: absolute;
	  top: 40%;
	  left: 48%;
	opacity: 1;
	transition: opacity 0.5s
}
#dokun:before {
	content: "Share...";
	position:absolute;
	bottom: 49px;
	left: -5px;
	color:white;
	opacity: 0.5;
	text-shadow: 1px 1px 1px black;
}
#paylas {
	  position: relative;
	  top: 40%;
}

#paylas_fb {
	opacity: 0;
	position:relative;
	left: -60px;
	transition: left 0.5s, opacity 0.5s;

}
#paylas_twt{
	opacity: 0;
	position:relative;
	top: -60px;
	transition: top 0.5s, opacity 0.5s;
}
#paylas_gp{
		opacity: 0;
	position:relative;
	right: -60px;
	transition: right 0.5s, opacity 0.5s;
}


.sagdan_on {
	padding-right: 10px;
	position: relative;
}

.begen_bilgi {
  background-color: #E54040;
  float: left;
  padding: 1px;
  border-radius: 5px;
  font-size: 11px;
  position: relative;
  color: white;
  margin-top: 5px;
  position: absolute;
  white-space: nowrap;
  left: -29px;
	display:none;
  z-index: 1;
}

.begen_bilgi:after{
  content: '';
  position:absolute;
  left: 30px;
  top:-7px;
  border-style: solid;
  border-width: 0 7px 7px 7px;;
  border-color: transparent transparent #E54040 transparent;  
}

#baslik:hover .begen_bilgi {
	display: block;
}
#mesaj1 {
	  border-bottom: 5px solid #5E9ACC;
  margin-top: -6px;
  background: #407EB2;
}
.star_rating,
.star_rating li a:hover,
.star_rating .current_rating {
	background: url(../../../images/io-theme/kalp.png) left -1000px repeat-x;
	vertical-align: middle;
}

.star_rating {
	position: relative;
	width:15px;
	height:14px;
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	background-position: left top;
}

.star_rating li {
	display: inline;
}

.star_rating li a,
.star_rating .current_rating {
	position: absolute;
	text-indent: -1000px;
	height: 14px;
	line-height: 14px;
	outline: none;
	overflow: hidden;
	border: none;
	top:0;
	left:0;
}

.star_rating_notrated li a:hover {
	background-position: left bottom;
}

.star_rating li a.five_stars {
	width:100%;
	z-index:2;
}

.star_rating .current_rating {
	z-index:1;
	background-position: left center;
}

.star_rating_success,
.success_message {
	color: #00b200;
	font-weight: bold;
	font-size: 10px;
	margin-bottom: 10px;
}

.inline_rating {
	float: left;
	vertical-align: middle;
	position: relative;
	top: 1px;
	padding-right: 3px;
}

.star_rating_notrated {
	background-position: 0px -14px;
}

		ul.sekmeler{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.sekmeler li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.sekmeler li.current{
			background: #ededed;
			color: #222;
		}

		.sekme-icerik{
			display: none;
			background: #ededed;
			padding: 15px;
		}

		.sekme-icerik.current{
			display: inherit;
		}

ul.thread_tools,
ul.thread_tools li {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline;
	float: left;
  padding-top: 5px;
}

ul.thread_tools li {
	padding: 1px 0 2px 19px;
	font-size: 12px;
	background-image: url(../../../images/io-theme/showthread_sprite.png);
	background-repeat: no-repeat;
	margin-right: 7px;
	white-space: nowrap;
}

ul.thread_tools li.printable {
	background-position: 0 0;
}

ul.thread_tools li.sendthread {
	background-position: 0 -20px;
}

ul.thread_tools li.subscription_add {
	background-position: 0 -40px;
}

ul.thread_tools li.subscription_remove {
	background-position: 0 -60px;
}

ul.thread_tools li.poll {
	background-position: 0 -80px;
}
ul.thread_tools li a {
	padding: 7px 0;
}
.showthread_spinner {
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 20px;
}
#kimler_burada {border-top: 1px solid #EAEAEA!important;}
.de_paylas {
	position: absolute;
	display:none;
	left: 0px;
	right: 0px;
	top: -22px;
	width: 148px;
	margin: auto;
	color: #fff;
	line-height: 25px;
	z-index: 2;
}
.fb_de {
	background: #4A6EA9;
}
.twt_de {
	background: #32DEF4;
}
.gp_de {
	background: #E46044;
}

.etiket {
	margin: 0;
  padding: 0;
  list-style: none;
  padding: 5px;
	  background-color: white;
  overflow: hidden;
	border: 1px solid #B7B7B7;
	}	
.etiket li, .etiket li a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	margin-bottom: 1px;
	}	
.etiket a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background: #859A9E;
	color:#fff;
	  text-shadow: 1px 1px 1px #43494A;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
	}	
.etiket a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #859A9E transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
	}	
.etiket a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}		

.etiket a:hover{background:#647D81;}	
.etiket a:hover:before{border-color:transparent #647D81 transparent transparent;}

#yapiskanyonet {
	background: #fff;
    float: left;
    border: 1px solid #B7B7B7;
    text-align: right;
    padding: 7px;
    padding-left: 10px;
    display: none;
    box-shadow: 0px 0px 1px 0px black;
    position: relative;
    left: 0px;
    clear: both;
    top: 5px;
}

#ayrac {
    background-color: white;
  box-shadow: 0px 1px 2px -1px grey;
  text-align: center;
  line-height: 13px;
	margin-top: 6px;
  margin-bottom: 6px;
	border-left: 1px solid #BEBEBE;
  border-right: 1px solid #BEBEBE;
	display: none;
}
#ayrac::after {
      content: "yorumlar";
  margin: auto;
  width: 100%;
  background-color: #ccc;
  color: white;
  padding: 0px 10px 0px 10px;
  font-size: 18px;
  text-shadow: 1px 1px 1px #A0A0A0;
  font-weight: bold;
  font-family: sans-serif;
}

#total_view {
	background: url(../../../images/io-theme/goz.png) no-repeat;
	padding-left: 28px;
	color: #2D2D2D;
	font-size: 18px;
	text-align:left;
}
#total_replies {
	background: url(../../../images/io-theme/yorumlar.png) no-repeat;
	padding-left: 18px;
	color: #2D2D2D;
	font-size: 18px;
	margin-right: 10px;
	text-align:left;
}

.yukaridan_uc_px {
	position: relative;
	top: -3px;
}
#secenekler {
	background: #fff;
	border: 1px solid #B7B7B7;
	border-top: none;
	margin: auto;
	padding: 7px;
	padding-left: 10px;
	overflow: hidden;
}
#yapiskan_kutu {
	position: fixed;
	bottom: 15px;
	right: 5px;
	z-index: 1;
}

.post_body iframe {
	max-width: 100%;
}

.bag:before {
	content:"";
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFFFFF;
	position: absolute;
	z-index: -1;
	right: -11px;
	z-index: 1;
	top: -10px;
}
.bag {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #ADADAD;
	position: absolute;
	right: -11px;
	z-index: 1;
	top: 39px;
}

.kullanici_bilgileri ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.kullanici_bilgileri ul li {
	margin: 0;
	padding: 0;
	display: inline;
}

.post.classic .kullanici_bilgileri ul li {
	display: list-item;
}
.spinnerr {
    
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.post .post_author .buddy_status {
    width: 16px!important;
    height: 16px!important;
}

.post.classic .post_author div.author_avatar img {
    width: 75px;
    height: 75px;
}
		