#kimler_burada {
	background: #f5f5f5 url(../../../images/io-theme/goz.png) left no-repeat;
    background-position: 3px;
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #B7B7B7;
	float: left;
	font-size: 11px;
	color: grey;
}
		