.thread_status {
	height: 17px;
	display: inline-block;
	background-image: url(../../../images/io-theme/thread_status.png);
	background-repeat: no-repeat;
	margin-left: 15px;
	opacity: 0.4;
	transition: opacity 0.3s;
}

.trow1:hover .thread_status {
	opacity: 1;
}
.trow2:hover .thread_status {
	opacity: 1;
}
.thread_status.dot_folder {
	width: 95px;
}

.thread_status.dot_hotfolder {
	background-position: -781px 0;
	width: 155px;
}

.thread_status.dot_hotlockfolder {
	background-position: -392px 0px;
	width: 212px;
}

.thread_status.dot_lockfolder {
	background-position: -392px 0px;
	width: 151px;
}

.thread_status.dot_newfolder {
	  width: 200px;
}

.thread_status.dot_newhotfolder {
	background-position: -946px 0px;
	width: 260px;
}

.thread_status.dot_newhotlockfolder {
	width: 211px;
	background-position: -105px 0;
}

.thread_status.dot_newlockfolder {
	width: 256px;
}

.thread_status.folder {
	background-position: 0 0;
	width: 0px;
}

.thread_status.hotfolder {
	background-position: -266px 0px;
	width: 50px;
}

.thread_status.hotlockfolder {
	background-position: -210px 0px;
	width: 106px;
}

.thread_status.lockfolder {
	background-position: -210px 0px;
	width: 46px;
}

.thread_status.movefolder {
	background-position: -326px 0;
	width: 56px;
}

.thread_status.newfolder {
	background-position: -105px 0px;
	width: 95px;
}

.thread_status.newhotfolder {
	background-position: -616px 0px;
	width: 155px;
}

.thread_status.newhotlockfolder {
	width: 316px;
}

.thread_status.newlockfolder {
	background-position: -105px 0px;
	width: 151px;
}

.y_sayisi {
	background:url(../../../images/io-theme/yorumsayisi.png);
	height:22px;
	width:24px;
	background-size: 24px 22px;
	text-align: center;
	margin-left: 5px;
	margin-top: -10px;
	margin-right: 5px;	
}
.y_sayisi_sayi {
	position: relative;
	font-size: 11px;
	top: 1px;
	color:#000;
}

.k_avatari {
	background: url(../../../images/io-theme/standart-avatar.png) no-repeat;
	background-size: 50px 50px;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	overflow: hidden;
	margin-right: 8px;
}
.sm_text {
	margin-right: 10px;
    font-family: monospace;
    color: #888;
}
.sm_bilgi {
	height:11px;
	width:11px;
	float:left;
	top: 3px;
	position: relative;
	margin-right: 3px;
}
.yazar_icon {
	background:url(../../../images/io-theme/yazar.png);
}

.tarih_icon {
	background:url(../../../images/io-theme/tarih.png);
}


.relative_yedipx {
	position:relative;
	top:7px;
}
.sag_bolumm {
	float: left;
}
.fd_bilgi {
	float:left;
	top: 4px;
	position: relative;
	margin-right: 3px;
}
.fd_goz {
	background:url(../../../images/io-theme/fd-goz.png);
	height:11px;
	width:18px;
}
.fd_kalp {
	background:url(../../../images/io-theme/fd-kalp.png);
	height:10px;
	width:11px;
}
.fd_yazar {
	background:url(../../../images/io-theme/yazar.png);
	height:11px;
	width:11px;
}

@media screen and (max-width: 768px) {
	.thread_status {display:none;}
	.k_avatari {float: none;margin: auto;}
	.sag_bolumm {clear: both;}
	
}
		