.usercp_nav_item {
	display: block;
	padding: 1px 0 1px 23px;
	background-image: url(../../../images/io-theme/usercp_sprite.png);
	background-repeat: no-repeat;
}
.usercp_nav_composepm {
	background-position: 0 0;
}

.usercp_nav_pmfolder {
	background-position: 0 -20px;
}

.usercp_nav_sub_pmfolder {
	padding-left: 40px;
	background-position: 0 -40px;
}

.usercp_nav_trash_pmfolder {
	padding-left: 40px;
	background-position: 0 -60px;
}

.usercp_nav_pmtracking {
	background-position: 0 -80px;
}

.usercp_nav_pmfolders {
	background-position: 0 -100px;
}

.usercp_nav_profile {
	background-position: 0 -120px;
}

.usercp_nav_email {
	padding-left: 40px;
	background-position: 0 -140px;
}

.usercp_nav_password {
	padding-left: 40px;
	background-position: 0 -160px;
}

.usercp_nav_username {
	padding-left: 40px;
	background-position: 0 -180px;
}

.usercp_nav_editsig {
	padding-left: 40px;
	background-position: 0 -200px;
}

.usercp_nav_avatar {
	padding-left: 40px;
	background-position: 0 -220px;
}

.usercp_nav_options {
	background-position: 0 -240px;
}

.usercp_nav_usergroups {
	background-position: 0 -260px;
}

.usercp_nav_editlists {
	background-position: 0 -280px;
}

.usercp_nav_attachments {
	background-position: 0 -300px;
}

.usercp_nav_drafts {
	background-position: 0 -320px;
}

.usercp_nav_subscriptions {
	background-position: 0 -340px;
}

.usercp_nav_fsubscriptions {
	background-position: 0 -360px;
}

.usercp_nav_viewprofile {
	background-position: 0 -380px;
}

.usercp_nav_home {
	background-position: 0 -400px;
}

.usercp_notepad {
	width: 99%;
}

.usercp_container {
	margin: 5px;
	padding: 8px;
	border:1px solid #CCCCCC;
}

.pmspace {
	float: right;
	margin: -3px 5px;
}

.pmspace_container {
	background: #fff;
	border: 1px solid #ccc;
	width: 100px;
	display: inline-block;
}

.pmspace_used {
	display: inline-block;
	color: #fff;
	margin: -1px;
}

.pmspace_used.low {
	border: 1px solid #0c5a01;
	background: #167203;
}

.pmspace_used.medium {
	background: #ff862b;
	border: 1px solid #d7611e;
}

.pmspace_used.high {
	background: #e73c3c;
	border: 1px solid #c00;
}

.pmspace_unused {
	display: inline-block;
}

.pmspace_text {
	padding: 1px 5px;
	display: inline-block;
}

.uyari {
  background-color: #E54040;
  float: left;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  position: relative;
  color: white;
  margin-top: 36px;
  position: absolute;
  white-space: nowrap;
  right: 5px;
	display:none;
	z-index: 1;
}

.uyari:after{
  content: '';
  position:absolute;
  left: 30px;
  top:-10px;
  border-style: solid;
  border-width: 0 15px 10px 15px;;
  border-color: transparent transparent #E54040 transparent;  
}

.rutbe {
	font-size: 9px;
	left: 10px;
	position: relative;
	bottom: 1px;
}

		